In [ ]:
team=["sl" , "nw"]
captain=["nimal", "amal"]

output=[(captain, team)for team, captain in zip (team,captain)]

print(output)

[('nimal', 'sl'), ('amal', 'nw')]

In [ ]:
ziped=zip(team, captain)

print (ziped)

zip_list=list(ziped)

print(zip_list)

<zip object at 0x7b9e4da4dec0>
[('sl', 'nimal'), ('nw', 'amal')]

In [ ]:
team=["sl" , "nw"]
captain=["nimal", "amal"]
ziped=zip(team, captain)

In [ ]:
zip_dict=dict(ziped)
zip_dict
#print(zip_dict)

{'sl': 'nimal', 'nw': 'amal'}

In [ ]:
books= ["textbooks", "exercise books", "story book", "drawing books"]
prices = [100,60,90,70]
quantities = [3,2,1,4]

In [ ]:
books= ["textbooks", "exercise books", "story book", "drawing books"]
prices = [100,60,90,70]
quantities = [3,2,1,4]

In [ ]:
result=[(quantities,books,quantities*prices) for books , prices, quantities in zip(books,prices,quantities)]
print(result)

[(3, 'textbooks', 300), (2, 'exercise books', 120), (1, 'story book', 90), (4, 'drawing books', 280)]

In [ ]:
for x , y, z in zip(books,prices,quantities):
  print(f"you bought {z} {x} for $ {y*z}")

you bought 3 textbooks for $ 300
you bought 2 exercise books for $ 120
you bought 1 story book for $ 90
you bought 4 drawing books for $ 280

In [ ]:
List_1 = [2,4,6,8,10]
list2=[]

for i in List_1:
  list_10=i+10
  list2.append(list_10)
print(list2)

[12, 14, 16, 18, 20]

In [ ]:
list1 = [10, 20, 30, 40]
list2 = ["Apples", "Mangoes", "Oranges", "Grapes"]
list3=[]

#for i in list2:
  #rev=list2.reverse(i)
 # rev = "".join(reversed(i))
 # list3.append(rev)


#for x,y in zip(list1,list3):
#  print(f"{x} {y}")

# Iterate over the two lists simultaneously using the zip() function.
for x, y in zip(list1, list2[::-1]):
  # Print the items from the two lists in the specified order.
  print(f"{x} {y}")

10 Grapes
20 Oranges
30 Mangoes
40 Apples

In [ ]:
list1 = [10, 20, 30, 40]
list2 = ["Apples", "Mangoes", "Oranges", "Grapes"]

list2.reverse()

for x,y in zip(list1,list2):
  print(f"{x} {y}")

10 Grapes
20 Oranges
30 Mangoes
40 Apples

In [ ]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]

list1[2][1][2].extend(sub_list)
list1[2][1][2].append(sub_list)

print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j', ['h', 'i', 'j']], 'k'], 'l'], 'm', 'n']

In [ ]:
List1= [10,15,20,15,32,54,15]


for i in List1:
  if (i== 15):
    List1.remove(i)
print(List1)

[10, 20, 32, 54]

In [ ]:
List1= [10,15,20,15,32,54,15]


while 15 in List1:
  List1.remove(15)
print(List1)

[10, 20, 32, 54]

In [ ]:
dict_1 = {'John': 15, 'Rick': 10, 'Misa': 12}
dict_2 = {'Bonnie': 18,'Rick': 20,'Matt': 16}

dict_1.update(dict_2)

print(dict_1)

{'John': 15, 'Rick': 20, 'Misa': 12, 'Bonnie': 18, 'Matt': 16}

In [ ]:
dict_1 = {'John': 15, 'Rick': 10, 'Misa': 12}
dict_2 = {'Bonnie': 18,'Rick': 20,'Matt': 16}

item=dict(zip(dict_1.keys(),dict_2.values()))

print(item)

{'John': 18, 'Rick': 20, 'Misa': 16}

In [ ]:
d = {0: 0, 1: 1, 2: 2, 3: 3}
d[3]=d.pop(0)

print(d)

{1: 1, 2: 2, 3: 0}

In [ ]:
dict_1 = {'John': 15, 'Rick': 10, 'Misa': 12}
dict_2 = {'Bonnie': 18,'Rick': 20,'Matt': 16}

item=dict(zip(dict_1.keys(),dict_1.values()))
items=dict(zip(dict_2.keys(),dict_2.values()))

print(f"{item} {items}")

{'John': 15, 'Rick': 10, 'Misa': 12} {'Bonnie': 18, 'Rick': 20, 'Matt': 16}

In [ ]:
country=["USA","France","India"]
capital= ["Washington D.C.","Paris","New Delhi"]

item=dict(zip(country,capital))

print(item)

{'USA': 'Washington D.C.', 'France': 'Paris', 'India': 'New Delhi'}

In [ ]:
My_dict = {"Fruit": "Pear",
"Vegetable": "Carrot",
"Pet": "Cat",
"Book": "Moby dick",
"Crystal": "Amethyst"}

keysToRemove = ["Book", "Crystal"]

for i in keysToRemove:
  My_dict.pop(i)
print(My_dict)

{'Fruit': 'Pear', 'Vegetable': 'Carrot', 'Pet': 'Cat'}

In [ ]:
My_dict = {"Fruit": "Pear",
"Vegetable": "Carrot",
"Pet": "Cat",
"Book": "Moby dick",
"Crystal": "Amethyst"}

My_dict.pop("Book")
My_dict.pop("Crystal")

print(My_dict)

{'Fruit': 'Pear', 'Vegetable': 'Carrot', 'Pet': 'Cat'}

In [ ]:
sub_dict = {'math' : 100, 'chem' : 98, 'sci' : 100,'eng':100}
key_to_extract = {'math','sci'}



extracted_dict ={}

for key in key_to_extract:
  if key in sub_dict:
    extracted_dict[key] = sub_dict[key]
print(extracted_dict)

{'sci': 100, 'math': 100}

In [ ]:
sub_dict = {'math' : 100, 'chem' : 98, 'sci' : 100,'eng':100}
key_to_extract = {'math','sci'}



extracted_dict ={}

for key in key_to_extract:
  if key in sub_dict:
    extracted_dict[key] = sub_dict[key]
print(extracted_dict)

{'sci': 100, 'math': 100}

In [ ]:
#Given a list iterate it and display numbers which are divisible by 5.
#answer: [15, 55, 75, 150, 180, 200]

list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

list2=[]


for i in list1:
  if i%5==0:
    list2.append(i)
print(list2)

[15, 55, 75, 150, 180, 200]

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for i in (numbers):
  if i%5==0 and i <= 150 and i <= 500:
    #if i>150:
      #continue
    #if i>=500:
       # break
    print(i)

75
150
145
50

In [ ]:
def count_character(str1):
    upper=0
    lower=0
    special=0
    num=0


    for char in str1:
        if char.isupper():
            upper +=1
        elif char.islower():
            lower +=1
        elif char.isdigit():
            num +=1
        else:
            special +=1

    return   upper,lower,special,num
upper,lower,special,num   = count_character("@W3Resource.Com")
print("Upper case characters:", upper)
print("Lower case characters:", lower)
print("Number case:", num)
print("Special case characters:", special)

Upper case characters: 3
Lower case characters: 9
Number case: 1
Special case characters: 2